<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="/Users/priya/IdeaProjects/Ticket1/pom.xml">
        <classes>
            <class name="setUp"></class>
            <class name="SignOn"></class>
    </classes>
</test>
</suite>